/* -------------------------- SoftReset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body {
  overflow-x: hidden;
}
* {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), 
       local('Roboto-Bold'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) 
       format('woff');
}
/* --------------------------- Estilos */
body {
  color: #333;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
/* ---------------------------Titulos */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  line-height: 120%;
  margin-bottom: 10px;
  font-family: "Roboto";
  display: inline-block;
}
h1,
.h1 {
  font-size: 28px;
}
h2,
.h2 {
  font-size: 20px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 16px;
}
/* ---------------------------Header */
header.headerCard {
    background-color: #002464;
    border-bottom: 1px solid #002464;
    border-top: 20px solid #002464;
    display: table;
    width: 100%;
}
header.headerCard * {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none !important;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
header.headerCard .container {
  margin: auto;
  clear: both;
}
header.headerCard a {
    color: white;
    text-decoration: none;
    display: block;
    transition: all ease 300ms;
}
header.headerCard .logo {
    color: transparent;
    float: left;
    margin-top: 13px;
    margin-left: 20px;
}
header.headerCard .toogle-nav {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    height: 35px;
    width: 30px;
}
header.headerCard .toogle-nav span {
    display: block;
    height: 4px;
    background: #fff;
}
header.headerCard .toogle-nav span + span {
    margin-top: 5px;
}
header.headerCard .innerHeader__navPrincipal li {
    font-size: 12px;
    background-color: #002464;
}
header.headerCard .innerHeader__navPrincipal li:last-child {
    border-left: 1px solid #FFFFFF;
}
@media (max-width: 769px) {
  header.headerCard .innerHeader__navPrincipal li:last-child {
      border-left: none;
  }
  header.headerCard .innerHeader__navPrincipal li:hover {
    background-color: #011942;
  }
  header.headerCard .innerHeader__navPrincipal li {
    border-bottom: 1px solid #011942; 
  }
}
header.headerCard .innerHeader__navPrincipal li a {
    color: #FFFFFF
}
/* --------------------------- nav_mobile */
header.headerCard .c-hamburger {
  appearance: none;
  background-color: transparent;
  border-radius: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 0;
  height: 30px;
  margin: 6px 5% 0 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  transition: background 0.3s;
  width: 30px;
}
header.headerCard .c-hamburger:focus {
  outline: none;
}
header.headerCard .c-hamburger span {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 4px;
  background: white;
}
header.headerCard .c-hamburger span::before,
header.headerCard .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}
header.headerCard .c-hamburger span::before {
  top: -10px;
}
header.headerCard .c-hamburger span::after {
  bottom: -10px;
}
header.headerCard .c-hamburger--htx span {
  transition: background 0s 0.2s;
}
header.headerCard .c-hamburger--htx span::before,
header.headerCard .c-hamburger--htx span::after {
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
}
header.headerCard .c-hamburger--htx span::before {
  transition-property: top, transform;
}
header.headerCard .c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
header.headerCard .c-hamburger--htx.is-active span {
  background: none;
}
header.headerCard .c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
header.headerCard .c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
header.headerCard .c-hamburger--htx.is-active span::before,
header.headerCard .c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.2s;
}

@media (min-width: 769px) {
  header.headerCard .innerHeader {
    margin-bottom: 20px;
    display: table;
    width: 100%;
  }
  header.headerCard .c-hamburger {
    display: none;
  }
  header.headerCard .innerHeader__navPrincipal {
    float: right;
    margin-right: 10px;
  }
  header.headerCard .innerHeader__navPrincipal li {
    display: inline-block;
  }
  header.headerCard .innerHeader__navPrincipal li + li {
    margin-left: 6px;
  }
  header.headerCard .innerHeader__navPrincipal li a {
    padding: 0px 20px 0px 20px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.1);
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
  }
}
@media (max-width: 768px) {
  header.headerCard {
    padding: 15px 0 0 0;
  }
  header.headerCard .container {
    width: 100%;
  }
  header.headerCard .logo {
    margin-top: 0;
    margin-bottom: 15px;
  }
  header.headerCard .c-hamburger {
    display: inline-block;
  }
  header.headerCard .innerHeader__navPrincipal{
    clear: both;
    display: none;
  }
  header.headerCard .innerHeader__navPrincipal.active{
    display: block;
  }
  header.headerCard .innerHeader__navPrincipal {
    border-top: 1px solid transparent;
  }
  header.headerCard .innerHeader__navPrincipal.active {
    border-color: #011942;
  }
  header.headerCard .innerHeader__navPrincipal a {
    padding: 8px 5%;
  }
}

/* -------------------- main*/
.col-center{
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.nav, .pagination { cursor: pointer; }
h1.titular{
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #002464;
}
.table-heading{
    color: #FFFFFF;
    background-color: #002464;
    cursor: pointer;
    background-color: #194D87;
    border-radius: 3px;
}
.table-body{
    border: 1px solid #002464;
    font-size: 12px;
}
input[type="checkbox"] {
    margin: 4px 0 0 18px;
    margin-top: 1px \9;
    line-height: normal;
}
span.collapse-btn{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
span.collapse-btn i{
    cursor: pointer;
    color:#F5F5F5;
    font-size: 18px;
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.rotate-icon{
         transform: rotate(180deg);
-web-kit-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);

        transition: all 0.4s ease;
     -o-transition: all 0.4s ease;
-webkit-transition: all 0.4s ease;
}
.box--list{
    padding: 5px;
    height: auto;
}
.box--list ul li {
    background-image: none;
    margin: 0 0 10px 0;
    position: relative;
    padding-left: 15px;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
}
.box--list ul li span {
    font-size: 6px;
    position: absolute;
    left: 0;
    color: #002464;
    vertical-align: middle;
}
.box-detail{
    background-color: #EEEEEE;
    padding: 10px;
    border: 1px solid #CCCCCC;
    height: auto;
}
.box-detail i{
    font-size: 4px;
    color: #002464;
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: middle;
}
.box--cont--detail{
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}
.box--cont--detail:last-child{
  border: none;
}
.box--cont--detail p{
    display: inline-block;
    margin: 10px 0;
    line-height: 20px;
    width: 50%;
}
.box--cont--detail span{
    width: 50%;
}
.box {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.boxContenedor{
  border-color: #194D87;
}
.boxContenedor >.panel-heading {
    color: #FFF;
    background-color: #194D87;
}
.btn-buscar{
    width: 50%;
    border-radius: 50px;
    display: block;
    padding: 8px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
@media screen and (max-width: 991px){
  .btn-buscar{
    margin: 0 auto;
  }
}
.width__check{
      width: 10%;
}

/*----------------------Footer*/
footer{
    clear: both;
    margin-top: 30px;
}
.footer_bottom {
    background: none repeat scroll 0 0 #194D87;
    font-size: 0.7em;
    line-height: 150%;
    padding: 15px 0 5px;
}
.footer_bottom p {
    color: #fff;
    padding: 5px 0 20px;
    width: 80%;
    margin: 0 auto;
}
    @media (max-width: 480px) {
        .footer_bottom p {
            width: 90%;
        }
    }

/* -------------Helper classes */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

